
.all{
	background-color: aliceblue;
	width: 100%;
}
.top{
	background-color: aliceblue;
}
.topIcon {
	
	height:6%;
	width:15%;
	float:left;
	margin-left: 2%;
}
.topIcon a{
	float:left;
	margin-left: 2%;
	display:inline;
}
.topButton a{
	margin-top: 3%;
	text-decoration:none;
	width:10%;
	float:left;
	color: #000;
	display:inline;
}
.topButton li{
	display:inline;
}
.topButton a:hover{
	color: coral;
}
.topButton{
	height: 6%;
	width: 10%;
	display: inline;
}
.logout{
	height:6%;
	width:20%;
	float:right;
	display:inline;
	margin-right: 5%;
	margin-top:3%;
	background-color: aliceblue;
}
.logout li{
	display:inline;
}
.logout a{
	text-decoration:none;
	float:right;
	display:inline;
	margin-left: 2%;
	color: #000;
}
.logout a:hover{
	color:coral;
}