@charset "UTF-8";

#context{
    width: 80%;
    height: 80%;
    background-color: aliceblue;
    opacity: 0.8;
}
.mid{
    margin: 0 auto;
    text-align:center
}
#searchBox{
    text-align:center;
    margin-top:3%;
    padding-top:5% ;
}
.inline{
    display: inline;
    white-space:nowrap;
}